*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* background: url('https://images.unsplash.com/photo-1524230659092-07f99a75c013?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
   background-size: cover;
   background-position: center;
    background-image: url('https://i.pinimg.com/originals/a1/77/df/a177dfc84703c31afa0d501ccf43fe4f.gif');
  


}

.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(10px); */
   
}

.key{
    border:2px solid rgb(86, 240, 25);
    border-radius: 10px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 10rem;
    text-align: center;
    transition: all .07s ease;
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
   
    
    
   
}

kbd{
    display: block;

}

.playing{
    transform: scale(1.1);
    border-color: rgb(128, 255, 166);
    box-shadow: 0 0 1rem rgb(67, 254, 176);
    background-image: url('https://i.pinimg.com/originals/eb/9d/6b/eb9d6b77ae59b86c1aa591e15f8e7558.gif');
    background-position:left;
    background-repeat: no-repeat;
    background-size:cover;
}