*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 
.panels{
    min-height: 100vh;
    display: flex;
    
} 
.panel{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   color: white;
    font-size: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    font-size: clamp(16px, 5vw, 24px);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    

  
} 
.panel > * {
    margin: 0;
    width: 100%;
    transition: all 0.5s;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }


.panel>*:first-child{
    transform:translateY(-100%);
    
}

.panel.open-active > *:first-child { transform: translateY(0); font-size: clamp(16px, 10vw, 4em); }
.panel.open-active > *:last-child { transform: translateY(0); font-size: clamp(16px, 10vw, 4em);  }
.panel.open-active>*:nth-last-child(2){
    font-size: clamp(16px, 10vw, 4em);
}

.panel>*:last-child{
    transform:translateY(100%);
    
}



.panel1{ background-image:url('https://i.pinimg.com/564x/94/0b/f7/940bf76df0696ba05e5a831791a87b67.jpg');filter:grayscale(1);}
.panel2 { background-image:url('https://i.pinimg.com/564x/1a/0a/ed/1a0aedd972f5a8bbd9553d4b74d9c804.jpg'); background-position:0% 60%;filter:grayscale(1);}
.panel3 { background-image:url('https://i.pinimg.com/564x/ed/1a/5e/ed1a5e055b25e4bd8174883e746291d7.jpg'); filter:grayscale(1);}
.panel4 { background-image:url('https://i.pinimg.com/736x/06/a2/4a/06a24abf7999758f46c2b72b797ded46.jpg');background-position: 0% 60%; }
.panel5 { background-image:url('https://i.pinimg.com/564x/ff/40/8c/ff408c4f0cdebc4240b881987eff9152.jpg');filter:grayscale(1);}





