* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.search-form {

    max-width: 400px;
    margin: 50px auto;
}

html {
    background: #ffc600;
}

.search {
    text-align: center;
    outline: none;
    border: 10px solid #F7F7F7;
    font-size: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 1px rgba(0, 0, 0, 0.19);
    width:100%;
    padding: 20px;
    border-radius: 5px;
    text-overflow:ellipsis;
 
    
}

.suggestions li {
    background: white;
    list-style: none;
    width: 100%;
    border-radius: 3px;
    border-bottom: 0.2px solid #D8D8D8;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
    padding: 20px;
    text-transform: capitalize;
}



.highlight {
    background: #ffc600;
}

.suggestions li:hover {
    cursor: pointer;
    color: white;
    background-color: #093637;
}